# iOS Simulator — localhost direto
EXPO_PUBLIC_API_URL=http://localhost:8001
EXPO_PUBLIC_WS_URL=ws://localhost:8001/ws

# Android Emulator — host.docker.internal ou 10.0.2.2
# EXPO_PUBLIC_API_URL=http://10.0.2.2:8001
# EXPO_PUBLIC_WS_URL=ws://10.0.2.2:8001/ws
